a[target]{
    text-decoration: overline 2px solid black;
}

a[target="_self"]{
    background-color: darkorange;
}

a[href]{
    background-color: aquamarine;
}

a[href="https://www.instagram.com"]{
    background-color: gainsboro;
}

input[name]{
    background-color: red;
}

input[name="name"]{
    background-color: rgb(0, 255, 17);
}

div:empty{
    background-color:  black;
height: 10px;
}

div[class="hint yy"]{
    background-color: blue;
}

div[class~="hintyy"]{
    background-color: blue;
}
div[class|="hintyy "]{
    background-color:orange;
}

div[class$="y"]{
    background-color: rgb(168, 19, 81);
}

div[class^="k"]{
    background-color:rgb(245, 236, 237);
}
div[class*="k"]{
    background-color:pink;
}

.hello:after{
    content: "hello";
}

.hello:before{
    content: "hello!! ";
}

p::selection{
    background-color: aqua;
}
p::first-letter{
    font-size: 50px;
}

p::first-line{
    font-size: 20px;
}