/* .border{
    /* border: 3px solid pink; */
    /* border: 3px dashed pink; */
    /* height: 100px;
    width: 100px;
    border: 3px double pink; */
    /* border: 3px dotted pink;
    border: 3px inset pink;
    border: 3px outset pink;
    border: 3px hidden pink;
    border: 3px none pink;
    border: 3px ridge pink;
    border: 3px groove pink;  
}
*/
/* .outline{
    height: 100px;
    width: 100px;
    border: 10px solid blue;
    outline: 2px solid blueviolet;
    outline-offset: 5px;
}

.content-box{
    height: 600px;
    width: 600px;
    padding: 20px;
    margin: 10px;
    border: 5px dashed purple;
    background-color: aqua;
    box-sizing: content-box;
}
.border-box{
    height: 600px;
    width: 600px;
    padding: 20px;
    margin: 10px;
    border: 5px dashed purple;
    background-color: rgb(6, 106, 246);
    box-sizing: border-box;
} */

.mainhint{

    
    display:inline-flex;

}
.hint{
    background-color: rgb(209, 178, 19);
    height: 30px;
    width: 30px;
    border: 2px solid black;
    display:inline-block;
}