*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
 /* website start  */
     /* heading start  */

     nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 48px 24px;
     }
     .icons i{
        padding:15px 10px;
      border-radius: 100%;
      background: rgba(0, 0, 0, 0.05);
      color: black;
        height: 50px;
        width: 50px;
        text-align: center;
        transition-duration: .3s ease;
      }
      .icons i:hover{
        background-color: #4e9525;
        color: #fff;
       }
     .logo{
      font-size: 32px;
      font-weight:bolder;
      color: black;
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-style: normal;
     }
     .care{
      color:#4E9525;
     }
     .searching{
      display: flex;
      justify-content: end;
     }
     .search{
      height: 50px;
      background: rgba(0, 0, 0, 0.05);
      width: 240px;
      border: 0.5px solid rgba(0, 0, 0, 0.05);
     }
     .searchbar{
      background-color: rgb(222, 221, 221);
      border-radius: 50px;
     }
     .searchbar input{
         border:0;
         background-color: transparent;
         padding-left: 20px;
     }
     .searchbar input:focus{
      outline: 0;
     }

     .search-icon{
      background-color: #4E9525;
      height: 48px;
      width: 48px;
      border-radius: 100%;
      padding:15px 15px;
      color: white;
     }
     /* heading end */
     /* menubaar start */
     .menubaar{
      background-color: green;
      display: flex;
      justify-content:center;
      align-items: center;
      height: 70px;
      list-style-type: none;
     }
     .menubaar li{
      padding: 0px 15px;
     }
     .menubaar li a{
      font-family: "Poppins", Arial, sans-serif;
      font-weight: 400;
      text-decoration: none;
      color: white;
      font-size: 14px;
      flex-wrap: wrap;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition-duration: .3s ease;
     }
     .menubaar li a:hover{
      color: #fbd341;
      text-decoration: underline 2px solid  #fbd341;
     }
      /* menubaar end */
/* background-1 start */
.home-bg1{
   background-image: url(../images/about_bg-1.jpg);
    height: 600px; 
   background-attachment: fixed;
}
.con-1{
   display: block;
  text-align: center;
   align-items: center;
   padding-top: 400px;
}
.con-1 .heading{
   font-size: 60px;
       color: #fff;
       line-height: 1.2;
       font-weight: 700;
       font-family: "Poppins", Arial, sans-serif;
   }
   .con-1 .sabtitle a{
      font-family: "Poppins", Arial, sans-serif;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
   }
   .con-1 .sabtitle i{
      color: rgba(255, 255, 255, 0.7);
   }
    /* background-1 end  */
   /* section-1 start */

.section-1 {
   padding: 48px 24px 0px;
   display: flex;
justify-content: center;
padding-bottom: 100px;
padding-top: 150px;
}

.con-2 {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Poppins", Arial, sans-serif;
   color: gray;
   gap: 30px;
}

.inner-con {
   padding: 0px 20px;
   max-width: 250px;
   height: 340px;
   box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
   text-align: center;
   position: relative;
   width: 100%;
   padding: 0px 15px;
   position: relative;
}

.i1 {
   border-radius: 100%;
   background-color: rgba(0, 0, 0, 0.05);
   display: inline-block;
   width: 100px;
   height: 100px;
   padding: 32px 32px;
   margin: 20px;
}


.text1 h3 {
   font-size: 18px;
   font-weight: 600;
   line-height: 1.5;
   color: rgba(0, 0, 0, 0.8);
   font-family: "Poppins", Arial, sans-serif;
}

.text1 p {
   font-family: "Poppins", Arial, sans-serif;
   line-height: 1.8;
   font-weight: 400;
   color: gray;
}

.arrow {
   position: absolute;
   bottom: -35px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   color: white;
   left: 100px;
   opacity: 0;
}

.arrow span i {
   padding: 15px;
}

.inner-con:hover .arrow {
   background-color: #4E9525;
   opacity: 1;
}

.subcon-3{
max-width: 300px;
padding: 0px 30px;
}
.subcon-3 h3{
    margin-bottom: 5px;
    font-weight: 700;
    color: #4e9525;
}
.subcon-3 p{
   line-height: 1.8;
   font-weight: 400;
   color: gray;
   padding-bottom: 10px;
}
.con-3 .btn-2 {
   background: #4e9525;
   border: 1px solid #4e9525;
   color: #fff;
   height: 40px;
   width: 150px;
   font-size: 16px;
   border-radius: 4px;
   font-family: "Poppins", Arial, sans-serif;
   cursor: pointer;
}
/* section-1 end */